In [1]:
import pandas as pd

# Load your datasets
ethnic_data = pd.read_csv("/Users/arkamandol/DataspellProjects/Desertation_arka_23023023/data_files/Ethnic_Group_Data_Transformed.csv")
economy_status_data = pd.read_csv("/Users/arkamandol/DataspellProjects/Desertation_arka_23023023/data_files/Economy_Status_Data_Transformed.csv")
employment_history_data = pd.read_csv("/Users/arkamandol/DataspellProjects/Desertation_arka_23023023/data_files/Employment_History_Data_Transformed.csv")
education_level_data = pd.read_csv("/Users/arkamandol/DataspellProjects/Desertation_arka_23023023/data_files/Education_Level_Data_Transformed.csv")
migrant_data = pd.read_csv("/Users/arkamandol/DataspellProjects/Desertation_arka_23023023/data_files/Migrant_Data_Transformed.csv")

# Rename the locality code columns to 'area_code'
ethnic_data.rename(columns={'ethnic_lower_tier_local_authorities_code': 'area_code'}, inplace=True)
economy_status_data.rename(columns={'economy_lower_tier_local_authorities_code': 'area_code'}, inplace=True)
employment_history_data.rename(columns={'employment_lower_tier_local_authorities_code': 'area_code'}, inplace=True)
education_level_data.rename(columns={'education_lower_tier_local_authorities_code': 'area_code'}, inplace=True)
migrant_data.rename(columns={'migrant_lower_tier_local_authorities_code': 'area_code'}, inplace=True)

# Merge all datasets on the 'area_code' column
merged_data = ethnic_data.merge(economy_status_data, on='area_code', how='outer')
merged_data = merged_data.merge(employment_history_data, on='area_code', how='outer')
merged_data = merged_data.merge(education_level_data, on='area_code', how='outer')
merged_data = merged_data.merge(migrant_data, on='area_code', how='outer')

# Save the merged dataset to a CSV file (optional)
# merged_data.to_csv('path_to/merged_dataset.csv', index=False)
merged_data

,area_code,ethnic_lower_tier_local_authorities,ethnic_asian_asian_british_or_asian_welsh_bangladeshi,ethnic_asian_asian_british_or_asian_welsh_chinese,ethnic_asian_asian_british_or_asian_welsh_indian,ethnic_asian_asian_british_or_asian_welsh_other_asian,ethnic_asian_asian_british_or_asian_welsh_pakistani,ethnic_black_black_british_black_welsh_caribbean_or_african_african,ethnic_black_black_british_black_welsh_caribbean_or_african_caribbean,ethnic_black_black_british_black_welsh_caribbean_or_african_other_black,...,education_level_3_qualifications_2_or_more_a_levels_or_vces_4_or_more_as_levels_higher_school_certificate_progression_or_advanced_diploma_welsh_baccalaureate_advance_diploma_nvq_level_3;_advanced_gnvq_city_and_guilds_advanced_craft_onc_ond_btec_national_rsa_advanced_diploma,education_level_4_qualifications_or_above_degree_ba_bsc_higher_degree_ma_phd_pgce_nvq_level_4_to_5_hnc_hnd_rsa_higher_diploma_btec_higher_level_professional_qualifications_for_example_teaching_nursing_accountancy,education_no_qualifications,education_other_apprenticeships_vocational_or_work-related_qualifications_other_qualifications_achieved_in_england_or_wales_qualifications_achieved_outside_england_or_wales_equivalent_not_stated_or_unknown,migrant_lower_tier_local_authorities,migrant_address_one_year_ago_is_student_term-time_or_boarding_school_address_in_the_uk,migrant_address_one_year_ago_is_the_same_as_the_address_of_enumeration,migrant_does_not_apply,migrant_migrant_from_outside_the_uk_address_one_year_ago_was_outside_the_uk,migrant_migrant_from_within_the_uk_address_one_year_ago_was_in_the_uk
0,E06000001,Hartlepool,278,217,335,473,297,327,57,61,...,13776,18526,17286,7059,Hartlepool,181,83133,918,271,7834
1,E06000002,Middlesbrough,595,669,2804,2032,8990,3339,162,315,...,19976,30127,27282,10063,Middlesbrough,755,126756,1621,2244,12548
2,E06000003,Redcar and Cleveland,158,208,175,336,283,182,48,35,...,21300,28003,24732,11661,Redcar and Cleveland,148,125080,1176,331,9796
3,E06000004,Stockton-on-Tees,236,690,1812,1439,4875,1823,130,250,...,29004,46648,29441,14588,Stockton-on-Tees,286,177449,1916,853,16088
4,E06000005,Darlington,759,308,1086,618,195,456,135,110,...,16141,25517,16972,8468,Darlington,177,96392,1040,518,9672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,W06000020,Torfaen,99,212,254,546,91,118,69,41,...,12736,20128,16631,6463,Torfaen,107,84981,915,158,6115
327,W06000021,Monmouthshire,52,277,317,445,94,132,62,36,...,12172,30809,12315,5891,Monmouthshire,226,84351,735,397,7248
328,W06000022,Newport,2858,711,2023,1799,4803,2687,553,497,...,19978,39544,27690,10282,Newport,345,144997,1839,1061,11350
329,W06000023,Powys,79,160,176,782,50,74,96,51,...,19125,35849,21316,9805,Powys,285,120584,1052,472,10779
330,W06000024,Merthyr Tydfil,46,156,308,269,92,59,13,19,...,7453,11911,12831,4015,Merthyr Tydfil,51,54365,607,243,3573